HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.vscode/
application-local.properties
*.log
node_modules/
.env
dist/
build/
*.log
.DS_Store
.vscode/settings.json

